 /* Example CSS for the preview.
Like `init.js`, you can re-use this file in your build process
to achieve a consistent style between your preview and final output.
*/


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  padding: 16px;
  color: #333;
  background-color: #fff;
}

.info {
  border: 1px solid hsl(207, 90%, 54%);
  background-color: #E3F2FD;
  padding: 10px;
  border-radius: 4px;
}